{% extends "testManage/baseProject.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}测试数据信息{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-xs-12">
        <div class="breadcrumb">
            <li><a href="{{ url_for('testManage.projectList') }}">所有项目</a></li>
            <li><a href="{{ url_for('testManage.projectInfo', projectId=data.testCase.module.projectId) }}">{{ data.testCase.module.project.projectName }}</a></li>
            <li><a href="{{ url_for('testManage.moduleInfo', moduleId=data.testCase.moduleId) }}">{{ data.testCase.module.moduleName }}</a></li>
            <li><a href="{{ url_for('testManage.testCaseInfo', testCaseId=data.testCaseId) }}">{{ data.testCase.caseName }}</a></li>
            <li class="active">{{ data.dataName }}</li>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">测试数据基本信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover" style="table-layout:fixed;">
                    <tbody>
                        <tr>
                            <td width="25%">测试数据ID</td>
                            <td>{{ data.id }}</td>
                        </tr>
                        <tr>
                            <td>测试数据名称</td>
                            <td>{{ data.dataName }}</td>
                        </tr>
                        <tr>
                            <td>测试数据传入值</td>
                            <td>{{ data.values }}</td>
                        </tr>
                        <tr>
                            <td>标签</td>
                            <td>{{ data.tags }}</td>
                        </tr>
                        <tr>
                            <td>备注</td>
                            <td style="word-wrap:break-word;">{{ data.remark }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">测试数据操作</h3>
            </div>
            <div class="panel=body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ url_for('testManage.modifyData', dataId=data.id) }}">修改测试数据</a></li>
                    <li class="list-group-item"><a href="{{ url_for('testManage.deleteData', dataId=data.id) }}" onclick="return confirm('确定要删除测试数据吗？')">删除测试数据</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
