<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}Snail App{% endblock %}</title>
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
        {% endblock %}
    </head>

    <body>
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    {% block nav %}
                    <div class="navbar navbar-inverse" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">Snail App</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ url_for('testManage.index') }}">测试管理平台</a></li>
                            </ul>
                            <ul class="nav navbar-nav">
                                <li><a href="{{ url_for('duobaoTools.index') }}">1元购测试工具</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endblock%}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    {% block msg %}
                        {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning flash">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>

            <div class="row">
                <div class="row_menu col-xs-3">
                    {% block row_menu %}
                    {% endblock %}
                </div>
                <div class="page_content col-xs-9">
                    {% block page_content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        {% block scripts %}
        <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
